dearpygui
pyinstaller
opencv-python
transitions
mss
numpy
mouse
keyboard
beautifultable
pytweening
requests
coverage
pytest
pytest-env
pytest-pythonpath
graphviz
psutil
cryptography
pillow
discord.py
parse
dependencies/tesserocr-2.5.2-cp39-cp39-win_amd64.whl
pygame
pymem
termcolor
pyastar2d
scipy
pythonnet
GitPython
pyee